@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin mobile-tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}

@mixin tablet-desktop {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin wide-screen {
  @media (min-width: 1280px) {
    @content;
  }
}

.login {
  --padding-tb: 2rem;
  --padding-lr: 4rem;

  @include mobile-tablet {
    --padding-lr: 2rem;
  }

  display: flex;
  flex-flow: row;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  @include mobile {
    flex-flow: column-reverse;
    height: unset;
  }

  .img-container {
    width: 50vw;
    padding: var(--padding-tb) var(--padding-lr);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #f2f2f2;
    background-color: #000;

    @include mobile {
      width: 100vw;
    }

    img {
      max-width: 100%;
      max-height: 350px;
    }

    h2 {
      font-size: 1.3rem;
      font-weight: 400;
      font-family: "Monument Extended";
      font-weight: normal;
      padding-top: 1.5rem;
    }

    .carousal-indicators {
      margin-top: 1rem;

      span {
        cursor: pointer;
        display: inline-block;
        width: 0.5rem;
        height: 0.5rem;
        border: 1px solid #ccccd8;
        border-radius: 50%;

        &:not(:last-of-type) {
          margin-right: 0.5rem;
        }

        &.active {
          background-color: #ccccd8;
        }
      }
    }
  }

  .form-container {
    width: 50vw;
    padding: var(--padding-tb) var(--padding-lr);
    font-size: 0.75rem;
    color: #80809d;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #fff;

    @include mobile {
      width: 100vw;
    }

    img.logo {
      align-self: flex-start;
    }

    h2 {
      font-size: 1.75rem;
      font-weight: 400;
      color: #333363;
    }

    .description {
      color: #66668a;
    }

    .form-field {
      margin-top: 2rem;
    }

    button {
      margin-top: 2rem;
    }

    .options {
      margin-top: 0.5rem;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      font-weight: 500;

      a {
        cursor: pointer;
        color: #006dd2;
      }
    }
  }

  .description {
    font-size: 0.75rem;
    line-height: 1.8;
  }

  .footer {
    display: flex;
    align-items: center;
    position: absolute;
    right: var(--padding-lr);
    bottom: 1rem;

    @include mobile {
      position: relative;
      right: unset;
      bottom: unset;
      margin-top: 3rem;
      justify-content: flex-end;
    }

    img {
      padding: 0 0.5rem;
    }
  }
}
